<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755110545899-gdvt0gleu05d3sg051v05e9b1gd4lu3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755110545899-gdvt0gleu05d3sg051v05e9b1gd4lu3u</string>
	<key>API_KEY</key>
	<string>AIzaSyBk0-sksCzk997KuLAQDO-_aCgLWMqsNG0</string>
	<key>GCM_SENDER_ID</key>
	<string>755110545899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>butterflyprojeito.flutter.barberDon</string>
	<key>PROJECT_ID</key>
	<string>barberdon-a85a2</string>
	<key>STORAGE_BUCKET</key>
	<string>barberdon-a85a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755110545899:ios:90e50d9b7083b29da631ae</string>
	<key>DATABASE_URL</key>
	<string>https://barberdon-a85a2.firebaseio.com</string>
</dict>
</plist>